<div ng-controller="dashboardController">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">仪表盘
                    <small>以图表方式查看日志统计</small>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="tab-pane active" id="tab_1" ng-include="tabPage"></div>
                </div>
            </div>

        </div>
    </div>
</div>