<div ng-controller="TraceController">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="chainId" placeholder="追踪链编号">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-success btn-flat" ng-click="search();">追踪
                                  </button>
                                </span>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="box-title">追踪链
                        <!--<small class="label bg-yellow">应用名</small>-->
                        <!--<small class="label bg-blue">耗时(ms)</small>-->
                        <!--<small class="label bg-red">开始时间</small>-->
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="tree"></div>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                    <th>应用名</th>
                                    <td colspan="3">{{span.appName}}</td>
                                </tr>
                                <tr>
                                    <th>类名</th>
                                    <td>{{span.className}}</td>
                                    <th>方法名</th>
                                    <td>{{span.methodName}}</td>
                                </tr>
                                <tr>
                                    <th>开始时间</th>
                                    <td>{{span['@timestamp']|date:'yyyy-MM-dd HH:mm:ss,sss'}}</td>
                                    <th>耗时(ms)</th>
                                    <td>{{span.cost}}</td>
                                </tr>
                                <tr ng-repeat="p in span.params.split(',')">
                                    <th>参数{{$index+1}}</th>
                                    <td colspan="3">{{p}}</td>
                                </tr>
                                <tr>
                                    <th>返回值</th>
                                    <td colspan="3">{{span.result}}</td>
                                </tr>
                                <tr>
                                    <th>异常信息</th>
                                    <td colspan="3">{{span.exception}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="overlay" ng-show="searching">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>


</div>